@use 'variables' as *;

.conference-section {
  background-color: $light-color;
  // padding: 2rem 0rem 2rem 0rem;

  .section-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $secondary-color;
    text-align: left;
  }

  .conference-card {
    background: white;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .award-card {
    background: white;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .conference-item {
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: $secondary-color;
    }

    h4 {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.3rem;
      color: darken($light-color, 60%);
    }

    p {
      font-size: 0.95rem;
      color: #555;
      margin-bottom: 0.5rem;
    }

    .conference-link {
      font-size: 0.95rem;
      color: $primary-color;
      font-weight: 500;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }
}